/* ------------------------------------------------------------ *\
	Login
\* ------------------------------------------------------------ */

body { background-color: #12232e; }

.login h1 a { width: 100%; }
.login h1 a { background: url(images/logo.png) no-repeat center; background-size: contain; }

.login #backtoblog a,
.login #nav a { color: #ffffff; }
