.footer {
	overflow: hidden;
	position: relative;
	margin-top: auto;
	text-align: center;
	color: $color-white;

	.footer__content {
		padding: 30px 15px;
		background-color: $color-dark-blue;
	}

	.footer__quote {
		margin-bottom: 20px;

		blockquote {
			font-size: 40px;
			line-height: 1.2;
			margin: 0;

			p {
				margin-bottom: 0;
				font-size: inherit;
			}

			strong {
				color: $color-light-blue;
			}
		}
	}

	.footer__socials {
		overflow: hidden;

		.socials {
			justify-content: center;
		}
	}

	.footer__copyright {
		padding: 10px 0;

		p {
			margin: 0;
			color: $color-white;
			font-weight: 700;
			opacity: .8;
		}
	}

	.footer__menu {
		margin-bottom: 20px;

		.nav {
			ul {
				justify-content: center
			}

			a {
				font-size: 20px;
			}
		}
	}

	@include breakpoint(desktop) {
		.footer__quote {
			blockquote {
				font-size: 32px;
			}
		}
	}

	@include breakpoint(tablet-portrait) {
		.footer__quote {
			blockquote {
				font-size: 27px;
			}
		}
	}

	@include breakpoint(mobile) {
		.footer__quote {
			blockquote {
				font-size: 24px;
			}
		}
	}

	@include breakpoint(mobile-small) {
		.footer__quote {
			blockquote {
				font-size: 20px;
			}
		}
	}
}
