body,
button,
input,
select,
optgroup,
textarea {
	color: $color-black;
	font-family: $font__main;
	font-size: $font__size-body;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";
