.btn {
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	background-color: $color-dark-blue-2;
	color: $color-white;
	border: 2px solid $color-dark-blue-2;
	transition: color .3s, background-color .3s;
	font-size: 22px;
	font-weight: 700;
    border-radius: 30px;
    text-align: center;

	&:hover {
		background-color: $color-white;
		color: $color-dark-blue-2;
	}

	@include breakpoint(desktop-small) {
		padding: 7px 30px;
		font-size: 20px;
	}

	@include breakpoint(mobile) {
		padding: 5px 20px;
		font-size: 18px;
	}
}

.btn--light-blue {
	border-color: $color-light-blue;
	background-color: $color-light-blue;
	color: $color-dark-blue;

	&:hover {
		background-color: $color-dark-blue;
		color: $color-light-blue;
	}
}
