// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin hover-effect-underline($color: #ffffff, $transition: .3s ease) {
	display: inline-block;
	position: relative;
	padding-bottom: 2px;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: $color;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: right center;
		transform-origin: right center;
		-webkit-transition: -webkit-transform .6s cubic-bezier(.19,1,.22,1);
		transition: -webkit-transform .6s cubic-bezier(.19,1,.22,1);
		transition: transform .6s cubic-bezier(.19,1,.22,1);
		transition: transform .6s cubic-bezier(.19,1,.22,1),-webkit-transform .6s cubic-bezier(.19,1,.22,1);
	}

	&:hover:after {
		-webkit-transition-duration: .4s;
		transition-duration: .4s;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: left center;
		transform-origin: left center;
	}
}
