.section-selected-projects {
	padding: 50px 0;
	background-color: $color-light-gray;

	.container {
		overflow: hidden;
	}

	.section__title {
		color: $color-dark-blue-2;
		text-align: center;
	}

	.section__action {
		text-align: center;
	}

	@include breakpoint(tablet-portrait) {
		padding: 30px 0;
	}

	@include breakpoint(mobile-small) {
		h2 {
			font-size: 22px;
			margin-bottom: 30px;
		}
	}
}
