.section-text {
	padding: 50px 0;

	p {
		color: $color-gray;
		font-size: 24px;
		margin-bottom: 20px;

		strong {
			color: $color-gray-bold;
		}

		a {
			position: relative;
			color: $color-blue;
			transition: opacity .3s;

			strong {
				color: $color-blue;
			}

			&:hover {
				opacity: .4;
			}	
		}
	}

	.btn {
		margin-top: 15px;
	}

	@include breakpoint(desktop-small) {
		p {
			font-size: 20px;
		}
	}

	@include breakpoint(tablet-portrait) {
		padding: 30px 0;
	}

	@include breakpoint(mobile) {
		h2 {
			margin-bottom: 15px;
		}

		p {
			font-size: 17px;
		}	
	}
}