.section-projects {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px 20px;

	.section__project {
		width: 50%;
		padding: 0 12px;
		margin-bottom: 25px;
	}

	.section__project-background {
		position: relative;
		padding-top: 55%;
		min-height: 300px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-color: $color-dark-blue;
		box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
		overflow: hidden;

		a {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 30;
		}

		&:hover {
			.section__project-content {
				opacity: 0;
			}
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: $color-dark-blue;
			opacity: .85;
			transition: opacity .3s;
		}

		&:hover:before {
			opacity: 0;
		}
	}

	.section__project-background--empty {
		&:hover {
			.section__project-content {
				opacity: .4;
			}
		}
	}

	.section__project-content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transition: opacity .3s;
		padding: 0 10px;
	}

	.section__image-logo {
		width: 200px;
		height: 100px;
		margin: 0 auto;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 10;
	}

	.section__title {
		h2 {
			color: $color-light-blue;
			text-align: center;
			margin-bottom: 0;
		}
	}

	.section__details {
		padding: 15px 0;
		text-align: center;
		overflow: hidden;
		color: $color-white;

		h4 {
			color: $color-dark-blue-2;
			margin-bottom: 5px;
		}
	}

	.section__excerpt {
		margin-bottom: 10px;
		
		p {
			margin: 0;
		}
	}

	.section__action {
		margin-top: 30px;
	}

	@include breakpoint(mobile) {
		p {
			font-size: 15px;
		}
	}

	@include breakpoint(mobile-portrait) {
		.section__project {
			width: 100%;
		}

		h2 {
			font-size: 20px;
		}
	}
}
