.section-text {
	padding: 50px 0;

	.container > *:last-child {
		margin-bottom: 0;
	}

	p {
		font-size: 24px;
		margin-bottom: 20px;

		a {
			position: relative;
			color: $color-blue;
			transition: opacity .3s;

			strong {
				color: $color-blue;
			}

			&:hover {
				opacity: .4;
			}	
		}
	}

	.btn {
		margin-top: 15px;
	}

	@include breakpoint(desktop-small) {
		p {
			font-size: 20px;
		}
	}

	@include breakpoint(tablet-portrait) {
		padding: 30px 0;
	}

	@include breakpoint(mobile) {
		h2 {
			margin-bottom: 15px;
		}

		p {
			font-size: 17px;
		}	
	}
}

.section-text--image-background {
	position: relative;
	padding: 100px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: $color-white;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.75);
		z-index: 1;
	}

	.container {
		position: relative;
		z-index: 10;
	}

	p {
		a {
			color: $color-light-blue;
		}
	}

	@include breakpoint(desktop-small) {
		padding: 50px 0;
	}

	@include breakpoint(mobile) {
		padding: 20px 0;
	}
}
