.section-words-with-gallery {
	padding: 50px 0;
	background-color: $color-dark-blue;
	color: $color-white;
	text-align: center;

	.container {
		overflow: hidden;
	}

	h2 {
		color: $color-light-blue;
		margin-bottom: 0;
	}

	.section__words {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style-type: none;
		margin: 0 -10px 20px;

		li {
			padding: 5px 15px;
			background-color: $color-dark-blue-2;
			color: $color-light-blue;
			border-radius: 10px;
			margin: 0 10px 20px;
		}

		p {
			margin-bottom: 0;
			font-weight: 700;
		}
	}

	.section__gallery {
		display: flex;
		flex-wrap: wrap;
	}

	.section__image {
		width: 50%;
		padding: 0 15px;
		margin-bottom: 30px;
	}

	.section__background-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		padding-top: 50%;
	}
}