.section-text {
	padding: 50px 0;

	p {
		color: $color-gray;
		font-size: 24px;

		strong {
			color: $color-gray-bold;
		}

		a {
			position: relative;
			color: $color-blue;
			transition: opacity .3s;

			strong {
				color: $color-blue;
			}

			&:hover {
				opacity: .4;
			}	
		}
	}
}