.section-intro {
	position: relative;
	color: $color-white;
	overflow: hidden;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		background-color: $color-dark-blue;
	}

	.section__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.section__text {
		width: 60%;
		padding: 30px 2% 30px 0;
	}

	.section__image {
		width: 38%;
		margin-top: 20px;
		margin-bottom: -7px;
		text-align: right;
	}

	p {
		font-size: 20px;
	}

	@include breakpoint(tablet-portrait) {
		p {
			font-size: 17px;
		}
	}

	@include breakpoint(mobile) {
		padding: 30px 0 0;

		.section__flex {
			flex-wrap: wrap;
			text-align: center;
		}

		.section__text {
			width: 100%;
			padding: 0;

			p {
				margin-bottom: 0;
			}
		}

		.section__image {
			width: 100%;
			text-align: center;
		}
	}

	@include breakpoint(mobile-small) {
		.section__text {
			h1 {
				font-size: 21px;
			}

			p {
				font-size: 15px;

				br {
					display: none;
				}
			}
		}
	}
}
