.section-page {
	padding: 60px 0;
	color: $color-white;

	.section__title {
		h1 {
			text-transform: uppercase;
		}
	}

	h2, h3, h4, h5, h6 {
		margin: 20px 0 10px;
	}

	p {
		margin-bottom: 10px
	}

	.wp-block-image {
		margin: 20px 0;
	}

	.wp-block-separator {
		border: 0;
		background-color: $color-white;
		height: 2px;
	}

	.wp-block-quote {
		margin: 0;
		padding-left: 20px;
		border-left: 4px solid $color-white;
	}
}
