.nav {
	overflow: hidden;

	ul {
		display: flex;
		align-items: center;
		list-style-type: none;
		padding: 0;
		margin: 0 -10px;
	}

	li {
		margin: 0 10px;
	}

	a {
		color: $color-white;
		text-decoration: none;
		font-size: 20px;
		transition: width .3s;

		@include hover-effect-underline($color-light-blue);
	}

	.current-menu-item {
		a {
			color: $color-light-blue;

			&:after {
				width: 0;
			}
		}
	}
}

.nav--header {
	@include breakpoint(tablet-portrait) {
		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			list-style-type: none;
			padding-left: 0;
			margin: 0;
			text-align: center;
		}

		li {
			width: 100%;
			margin-bottom: 20px;
		}

		a {
			font-size: 28px;
		}
	}
}

.nav--footer {
	@include breakpoint(mobile) {
		ul {
			flex-wrap: wrap;
			margin: 0;
		}
	}

	@include breakpoint(mobile-portrait) {
		li {
			width: 100%;
			margin: 0;
		}
	}
}

